<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="w-75 h-75 bg-info text-white rounded d-flex flex-column justify-content-start align-items-center p-4">
    <form class="w-100">
      <div class="input-group mb-4 shadow-lg">
        <span class="input-group-text bg-light border-0">
          <i class="bi bi-search text-secondary"></i>
        </span>
        <input type="text" class="form-control border-0 shadow-none" placeholder="Aramak istediğiniz şeyi yazın..."
          aria-label="Search">
        <button class="btn btn-secondary" type="button" id="search-button">Ara</button>
      </div>
    </form>
    <app-product-list class="w-100"></app-product-list>

  </div>
</div>
